{% extends "layout.html" %}
{% block main %}
<div class="container">


  <table class="table table-bordered">
    <thead>
      <tr>
      <th><!-- blank 1st column --> </th>
        {% for n in assignments %}
            <th style="text-align: center;">
                {{ n.name }}<br> <small>/{{n.maxscore }} <br> {{ n.date }}</small>
            </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for s in table.keys() %}
        <tr>
            <td>{{ namelookup[s] }} </td>
                {% for v in table[s].keys() %}
                    <td onclick="javascript:location.href='scoreedit/{{s}}/{{v}}'" style="text-align: center;">{{ table[s][v] }} </td>
                {% endfor %}


        {% endfor %}
        </tr>





    </tbody>
  </table>




</div><!-- /.container -->
{% endblock %}
